@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: azure;
  font-weight: 700;
  line-height: 1.6;
}

#title {
  font-family: 'Honk', 'Arial', sans-serif !important;
  font-size: 4rem;
  /* padding-top: 20px;  */
  background-color: #000000;
}
#Take,.array,.time{
    display: flex;  
    align-items: center;
    justify-content: center;
    font-size: x-large;
    margin-top: 20px;
}
.ins {
  width: 98%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: absolute;
}

.initial-array {
  width: 80vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#array-container {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  width: 80vw;
}

.code {
  color: white;
  /* width: 100vw; */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  /* background-color: rgba(0, 0, 0, 0.8); */
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: auto;
}

.arrow {
  position: relative;
  display: none;
}

/* BUTTON Design  */
.button {
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #000;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 128px;
    height: 48px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .button:hover::after {
    filter: blur(30px);
  }
  
  .button:hover::before {
    transform: rotate(-180deg);
  }
  
  .button:active::before {
    scale: 0.7;
  }


  .c {
    background-color: #f8d7da; /* Highlight color */
    color: #721c24; /* Text color */
    font-size: 1.1rem;
    font-weight: bold; /* Bold text for better visibility */
}