@import url("https://fonts.googleapis.com/css2?family=Honk&family=Protest+Strike&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #000;
}
header{
    /* background-color: #383ebc; */
    color:azure;
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    font-family: 'Honk' , sans-serif;
}
.inputbag{
    margin-top: 2rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
}

.inputbag input{
    background-color: #030637;
    outline: none;
    height: 2rem;
    width: 20rem;
    color: #fff;

    /*padding to move the cursor inside input to left*/
    padding: 0 10px;
    border-radius: 1rem;
    border: 2px solid rgba(255,255,255,0.25);
}

.inputbag label{
    color: rgba(255,255,255,0.6);
}

/*use to select and provide properties to placeholder*/
input::placeholder{
    text-align: center;
}

input:focus{
    border-radius: 1rem;
    border: 2px solid #00dfc4;
}

.show{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: cyan;
    border: 1px solid cyan;
    color:#000;
    padding: 1rem;
    /*glowing button*/
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
.btn:hover{
    background-color: cyan;
    border:1px solid cyan;
    color: #030637;
    box-shadow: 0 0 5px cyan, 0 0 25px cyan,
    0 0 50px cyan, 0 0 100px cyan, 0 0 20px cyan;
}
.switch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

/* @keyframes magni {
    from{
        transform: translateY(-10px);
    }
    to{
        transform: translateY(10px);
    }
}
span{
    animation: magni 1s ease-in-out 1s both;
} */
.results {
    display: block;
    margin-top: 3rem;
    text-align: center;
}

.comparisons , .final, .showmid {
    color: #fff;
    font-size: 1.2rem;
}